<!-- Header -->
<header id="top" class="header">

      <div class="row">
          <div class="col-lg-12 col-lg-offset-1 text-center">
     
           <br><br><br><br><br><br><br><br><br>         
       
 

          <div class="container">
            <h1 class=text-blue><%= t('landing-1') %></h1>
            <h1 class=text-blue><%= t('landing-2') %></h1>
          </div>
          <br><br><br><br>  

<%= link_to t('login'), new_user_session_path, class: "btn btn-warning"%>
            <br><br><br> <br><br>

       </div>


 
</header>
<br><br>

<div class="row ">
	<div  class="col-xs-12 col-md-12  ">
    	<h4 style="text-align:center;"><%= t('movie-topic-1') %>
    	<p style="text-align:center;"><%= t('movie-topic-2') %></p>

<br>
		<div class="card text-center">
		  <div class="card-header"> 
		   	<%= t('movie-0') %> 
		  </div>
		  	<div class="card-body embed-responsive embed-responsive-4by3">
		  		<iframe width="560" height="315" src="https://www.youtube.com/embed/ALPzXtp13N4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		  </div>
		</div>
<br>
		<div class="card text-center">
		  <div class="card-header"> 
		   	<%= t('movie-1') %> 
		  </div>
		  	<div class="card-body embed-responsive embed-responsive-4by3">
		  		<iframe width="560" height="315" src="https://www.youtube.com/embed/0gOodFSY4wU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		  </div>
		</div>
<br>
		<div class="card text-center">
		  <div class="card-header"> 
		   	<%= t('movie-2') %> 
		  </div>
		  	<div class="card-body embed-responsive embed-responsive-4by3">
		  		 <iframe width="560" height="315" src="https://www.youtube.com/embed/a9pE5OWBHeo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		  </div>
		</div>
<br>
		<div class="card text-center">
		  <div class="card-header"> 
		   	<%= t('movie-3') %> 
		  </div>
		  	<div class="card-body embed-responsive embed-responsive-4by3">
		  		 <iframe width="560" height="315" src="https://www.youtube.com/embed/TFh4Y2MV69c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		  </div>
		</div>
<br>
		<div class="card text-center">
		  <div class="card-header"> 
		   	<%= t('movie-4') %> 
		  </div>
		  <div class="card-body embed-responsive embed-responsive-4by3">
		  	<iframe width="560" height="315" src="https://www.youtube.com/embed/SEp8hkGyGHY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		  </div>
		</div>
<br>
	</div>
	<br><br>
</div>
